<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.vikey89.simpleappdagger">

    <application
        android:name=".SimpleDaggerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="dev.vikey89.categories.ui.CategoriesActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name="dev.vikey89.retailers.ui.RetailersActivity"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>